{{ 'cutouts.css' | asset_url | stylesheet_tag }}


<div class="hero-image-reviews color-{{ section.settings.hero_with_text_color_scheme }}">
    <div class="flex-box flex-column justify-center align-center text-center" style="height: 100%;">
      <p class="hero-stars">
        <span class="stars">
              <span class="star">{% include "icon-star" %}</span>
              <span class="star">{% include "icon-star" %}</span>
              <span class="star">{% include "icon-star" %}</span>
              <span class="star">{% include "icon-star" %}</span>
              <span class="star">{% include "icon-star" %}</span>
            </span>
      </p>
      <h1 class="h1 heading1">{{ section.settings.title }}</h1>
    </div>
</div>



{% schema %}
{
    "name": "Hero with text",
    "settings": [
        {
            "type": "select",
            "id": "hero_with_text_color_scheme",
            "info" : "Choose a background",
            "options": [
               {
                 "label": "Accent 1",
                 "value": "accent-1"
               },
               {
                 "label": "Accent 2",
                 "value": "accent-2"
               },
               {
                 "label": "Background 1",
                 "value": "background-1"
               },
               {
                 "label": "Background 2",
                 "value": "background-2"
               },
               {
                 "label": "Background 3",
                 "value": "background-3"
               },
               {
                 "label": "Background 4",
                 "value": "background-4"
               },
               {
                 "label": "Background 5",
                 "value": "background-5"
               },
               {
                 "label": "Inverse",
                 "value": "inverse"
               }
            ],
            "label": "Color Scheme",
            "default": "background-1"
          },
        {
            "id": "title",
            "type": "html",
            "label": "Title"
        }
    ],
    "presets": [
        {
            "name": "Hero with text",
            "category": "ADVANCED LAYOUT"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
