{{ 'cutouts.css' | asset_url | stylesheet_tag }}


<div class="hero-image-reviews color-{{ section.settings.hero_with_text_color_scheme }}">
    <div class="flex-box flex-column justify-center align-center text-center" style="height: 100%;">
      <p class="hero-stars">
        <span class="stars">
              <span class="star">{% include "icon-star" %}</span>
              <span class="star">{% include "icon-star" %}</span>
              <span class="star">{% include "icon-star" %}</span>
              <span class="star">{% include "icon-star" %}</span>
              <span class="star">{% include "icon-star" %}</span>
            </span>
      </p>
      <h1 class="h1 heading1">{{ section.settings.title }}</h1>
    </div>
</div>



{% schema %}
{
    "name": "Hero with text",
    "settings": [
        {
            "type": "select",
            "id": "hero_with_text_color_scheme",
            "info" : "t:sections.hero-with-text.settings.color_scheme.info",
          "options": [
             {
               "label": "t:sections.hero-with-text.settings.color_scheme.options__1.label",
               "value": "accent-1"
             },
             {
               "label": "t:sections.hero-with-text.settings.color_scheme.options__2.label",
               "value": "accent-2"
             },
             {
               "label": "t:sections.hero-with-text.settings.color_scheme.options__3.label",
               "value": "background-1"
             },
             {
               "label": "t:sections.hero-with-text.settings.color_scheme.options__4.label",
               "value": "background-2"
             },
             {
               "label": "t:sections.hero-with-text.settings.color_scheme.options__5.label",
               "value": "background-3"
             },
             {
               "label": "t:sections.hero-with-text.settings.color_scheme.options__6.label",
               "value": "background-4"
             },
             {
               "label": "t:sections.hero-with-text.settings.color_scheme.options__7.label",
               "value": "background-5"
             },
             {
               "label": "t:sections.hero-with-text.settings.color_scheme.options__8.label",
               "value": "inverse"
             }
          ],
          "label": "t:sections.hero-with-text.settings.color_scheme.label",
            "default": "background-1"
          },
        {
            "id": "title",
            "type": "html",
            "label": "t:sections.hero-with-text.settings.heading.label"
        }
    ],
    "presets": [
        {
            "name": "t:sections.hero-with-text.presets.name",
            "category": "ADVANCED LAYOUT"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
