<style type="text/css">
  .hero-image-reviews {
    height: auto;
    position: relative;
    min-height: 300px;
    background-color: #a5dcde;
  }

  .text-center {
    text-align: center;
  }

  .heading1 {
    color: #fff;
    font-size: 46px;
  }

  .heading1 a {
    color: #fff;
  }

  .star {
    color: #f9ae37;
  }

  .hero-img img {
    object-fit: contain;
    max-width: 100%;
    width: auto;
  }

  ._404-wrapper {
    padding-top: 3%;
  }

  ._404-header {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (max-width: 1380px) {
    .hero-image-reviews .heading1 {
      font-size: 35px;
    }
  }
</style>
<div class="hero-image-reviews ">
  <div class="text-center _404-wrapper">
    <h1 class="h1 heading1 text-center _404-header">
      <span class="star">{{ section.settings.header_404 }}</span><br><br>
      <span style="font-size: 75%">
        {{ section.settings.text_404 }}
      </span>
    </h1>
    <div class="hero-img">
      <img src="{{ section.settings.image_404 | img_url: '533x' }}" width="500" height="auto" alt="{{ section.settings.image_404.alt }}" loading="lazy">
    </div>
  </div>
</div>


{% schema %}
{
    "name": "Main 404",
    "settings": [
      {
        "id": "header_404",
        "type": "html",
        "label": "Header"
      },
      {
        "id": "text_404",
        "type": "html",
        "label": "Message"
      },
      {
        "id": "image_404",
        "type": "image_picker",
        "label": "Image"
      }
    ],
    "blocks": [

    ],
    "presets": [
        {
            "name": "Main 404",
            "category": "ADVANCED LAYOUT"
        }
    ]
}
{% endschema %} 