<section class="faq-hero color-{{ section.settings.plain_hero_color_scheme }}">
  <div class="hero-text">
    <h1 class="headings">{{ section.settings.header_text }}</h1>
  </div>
</section>


{% schema %}
{
    "name": "t:sections.plain-hero-with-header.name",
    "settings": [
        {
            "type": "select",
            "id": "plain_hero_color_scheme",
            "info": "t:sections.plain-hero-with-header.settings.color_scheme.info",
            "options": [
              {
                "label": "t:sections.plain-hero-with-header.settings.color_scheme.options__1.label",
                "value": "accent-1"
              },
              {
                "label": "t:sections.plain-hero-with-header.settings.color_scheme.options__2.label",
                "value": "accent-2"
              },
              {
                "label": "t:sections.plain-hero-with-header.settings.color_scheme.options__3.label",
                "value": "background-1"
              },
              {
                "label": "t:sections.plain-hero-with-header.settings.color_scheme.options__4.label",
                "value": "background-2"
              },
              {
                "label": "t:sections.plain-hero-with-header.settings.color_scheme.options__5.label",
                "value": "background-3"
              },
              {
                "label": "t:sections.plain-hero-with-header.settings.color_scheme.options__6.label",
                "value": "background-4"
              },
              {
                "label": "t:sections.plain-hero-with-header.settings.color_scheme.options__7.label",
                "value": "background-5"
              },
              {
                "label": "t:sections.plain-hero-with-header.settings.color_scheme.options__8.label",
                "value": "inverse"
              }
            ],
            "label": "t:sections.plain-hero-with-header.settings.color_scheme.label",
            "default": "background-4"
        },
        {
            "id": "header_text",
            "type": "text",
            "label": "t:sections.plain-hero-with-header.settings.heading.label"
        }
    ],
    "presets": [
        {
            "name": "t:sections.plain-hero-with-header.presets.name",
            "category": "ADVANCED LAYOUT"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
