{{ 'product-grid.css' | asset_url | stylesheet_tag }}

<div class="wrapper marg-bot-xl">
    <h2 class="h3 headings text-center no-mobile marg-bot" style="font-size: 35px !important;">Our unique designs desktop🤙<br><span style="font-size: 20px;"> High quality, super fun stickers</span></h2>
    <h2 class="h3 headings text-center no-desktop marg-bot marg-top-xxl" style="font-size: 30px !important;">Our unique designs mobile🤙<br><span style="font-size: 16px;"> High quality, super fun stickers</span></h2>
    <div class="row">
      <div class="col-md-4 flex-center">
        <div class="classic-products products">
          <div class="about-us middle-text image-section">
              <img src="../../French_Farts_600x.png" alt="Classic Product Image" loading = "lazy" />
          </div>
          <div class="product-detail justify-text">
  
            <div class="row space-between">
              <p class="col-9 product-title">
                  1x product_title
              </p>
              <p class="col-3 product-price">
                  5.12
              </p>
            </div>
  
            <div class="row">
              <p class="col-9 product-description">
                70 * 60 mm
              </p>
              <p class="col-3 product-size">
              </p>
            </div>
            <button class="button button-outline" style="margin: 0 auto;">ADD TO CART</button>
  
          </div>
        </div>
      </div>
    </div>
  </div>