{{ 'product-with-text.css' | asset_url | stylesheet_tag }}

<section class="image-with-text classic">
    <div class="wrapper marg-bot-xl">
        <div class="flex">
            <div class="flex-center column-40">
                <div class="">
                    <h2 class="h3 headings">Sticker of the month 🤩
                    </h2>
                    <p class="para">
                        Don't we all know a dog that farts a lot 😅? Well, if you own a frenchie you might have hit
                        the fart-jackpot, as those dogs are the real kings of smelly air in the morning 💩.
                    </p>
                </div>
            </div>

            <div class="column-40">
                <div class="v-center">
                    <img src="https://cdn.shopify.com/s/files/1/0268/5580/0887/products/French_Farts_600x.png?v=1605550810" alt="" />
                    <button class="button button-outline direct-cart " data-value="" data-name=""
                        data-img="">Buy for €3,95</button>
                </div>
            </div>

        </div>
    </div>
</section>