
<section class="product-quality color-{{ section.settings.product_quality_color_scheme }}">
  <div class="container">
    <div class="flex">
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'quality_block' -%}
      <div class="quality-block {% if block.settings.hide_block %}no-m{% endif %}">
        <h2 class="headings">{{ block.settings.heading }}</h2>
      </div>
      {%- endcase -%}
      {%- endfor -%}
      {%- comment -%}
      {%- if section.settings.show_rating_block -%}
      <div class="quality-block no-m">
        <h2 class="headings">4.9&nbsp;&nbsp;<span class="star">{% include "icon-star" %}</span><br>rating</h2>
      </div>
      {%- endif -%}
    {%- endcomment -%}
    </div>
  </div>
</section>



{% schema %}
{
    "name": "t:sections.product-quality-bar.name",
    "settings": [
      {
        "type": "select",
        "id": "product_quality_color_scheme",
        "info" : "t:sections.product-quality-bar.settings.color_scheme.info",
        "options": [
           {
             "label": "t:sections.product-quality-bar.settings.color_scheme.options__1.label",
             "value": "accent-1"
           },
           {
             "label": "t:sections.product-quality-bar.settings.color_scheme.options__2.label",
             "value": "accent-2"
           },
           {
             "label": "t:sections.product-quality-bar.settings.color_scheme.options__3.label",
             "value": "background-1"
           },
           {
             "label": "t:sections.product-quality-bar.settings.color_scheme.options__4.label",
             "value": "background-2"
           },
           {
             "label": "t:sections.product-quality-bar.settings.color_scheme.options__5.label",
             "value": "background-3"
           },
           {
             "label": "t:sections.product-quality-bar.settings.color_scheme.options__6.label",
             "value": "background-4"
           },
           {
             "label": "t:sections.product-quality-bar.settings.color_scheme.options__7.label",
             "value": "background-5"
           },
           {
             "label": "t:sections.product-quality-bar.settings.color_scheme.options__8.label",
             "value": "inverse"
           }
        ],
        "label": "t:sections.product-quality-bar.settings.color_scheme.label",
        "default": "background-3"
      }
    ],
    "blocks": [
        {
            "type": "quality_block",
            "name": "t:sections.product-quality-bar.blocks.quality_block.name",
            "limit": 3,
            "settings": [
                {
                    "type": "html",
                    "id": "heading",
                    "label": "t:sections.product-quality-bar.blocks.quality_block.settings.heading.label"
                },
         		    {
                    "type": "checkbox",
                    "id": "hide_block",
                    "default": false,
                    "label": "t:sections.product-quality-bar.blocks.quality_block.settings.checkbox.label"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "t:sections.product-quality-bar.presets.name",
            "category": "ADVANCED LAYOUT"
        }
    ]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
