
<section class="video-iframe">
   <div class="container">
  <h2 class="iframe-heading">{{ section.settings.header_text }}</h2>
    {%- if section.settings.iframe_url != blank -%}    
    {{ section.settings.iframe_url }}
    {%- else -%}
    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg'  }}
    {% endif %}
     </div>
</section>


{% schema %}
{
    "name": "Video iframe",
    "settings": [
        {
            "id": "header_text",
            "type": "text",
            "label": "Heading",
            "default": "Video heading"
        },
        {
            "id": "iframe_url",
            "type": "html",
            "label": "Iframe url",
            "info": "Directly embed the iframe tag"
        }
    ],
    "blocks": [],
    "presets": [
        {
            "name": "Video iframe",
            "category": "ADVANCED LAYOUT"
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
