.search__input.field__input {
  padding-right: 5rem;
}

.search__button .icon {
  height: 1.8rem;
}

/* Remove extra spacing for search inputs in Safari */
input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.spaced-section{
  margin-top: 0;
}

.sticker__search .page-width {
  background-color: rgb(var(--color-base-background-1));
  max-width: 100%;
  padding: 2rem 1.2rem 5rem;
}

.sticker__search .template-search__results{
  margin-top: 0rem;
  background-color: var(--nav-link-color);
}

.sticker__search .element-margin {
  font-size: 20px;
  font-family: cursive;
  font-weight: 700;
}

.card--product .badge , .card--search .badge{
  background-color: rgb(var(--color-base-accent-1));
  border-color: rgb(var(--color-base-accent-1));
  color: rgb(var(--color-base-solid-button-labels));
}

.sticker__search .card-information .price , .sticker__search .card-information__text.h5{
  font-size: 16px;
}

