.disclosure {
  position: relative;
}

.currency .disclosure{
  padding-left: 20px;
  padding-right: 15px;
}

.disclosure__button {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 4rem;
  padding: 0 1.5rem 0 1.5rem;
  font-size: 1.3rem;
  background-color: transparent;
}

.disclosure__list {
  border: 1px solid rgba(var(--color-foreground), 0.2);
  font-size: 1.4rem;
  margin-top: -0.5rem;
  min-height: 8.2rem;
  max-height: 19rem;
  max-width: 22rem;
  min-width: 12rem;
  width: max-content;
  overflow-y: auto;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  position: absolute;
  bottom: 100%;
  transform: translateY(-1rem);
  z-index: 2;
  background-color: rgb(var(--color-background));
}

.currency .disclosure__list{
  bottom: 0;
  background-color: var(--background-color-2);
  bottom: 0;
  top: 50px;
  margin-top: 1.3rem;
  min-height: 10rem;
  max-width: 15rem;
  min-width: 10rem;
  width: auto;
}

.currency .localization-selector + .disclosure__list {
  margin-left: -1.7rem;
}

.currency .localization-form__select:hover {
  box-shadow: none;
}

.currency .localization-form:only-child .localization-form__select{
  margin: auto;
}

.currency .localization-form:only-child .localization-form__select {
    padding: 0 13px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: 1px solid;
    color: #ffffff;
    font-family: 'Ubuntu';
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.currency .disclosure__link{
  padding: 0.5rem 10px;
  font-size: 14px;
  font-family: 'Lato';
  color: #000;
  font-weight: 700;
}

.currency .disclosure__link:hover{
  color: #1ba0e3;
}

.currency .disclosure__list::-webkit-scrollbar {
  display: none;
}

.currency .disclosure__list{
  -ms-overflow-style: none;  
  scrollbar-width: none;  
 }

.disclosure__item {
  position: relative;
}

.disclosure__link {
  display: block;
  padding: 0.5rem 2.2rem;
  text-decoration: none;
  line-height: 1.8;
}

.currency .localization-form__select .icon-caret {
  display: none;
}



@media (max-width: 768px) {
  .currency .localization-form:only-child .localization-form__select {
    padding: 10px;
  }
  .currency .localization-form__select .icon-caret {
    right: 1.8rem;
    top: calc(50% - 0.25rem);
  }
  .currency .disclosure{
    padding-left: 2px;
  }
}
