.image-with-text.classic .wrapper {
    max-width: 63%;
    margin: 80px auto;
}
.image-with-text.classic .para{
    font-size: 16px;
}

.image-with-text.classic .button {
    margin: 30px auto;
    width: fit-content;
}



@media (max-width:768px) {
    .image-with-text.classic .flex {
        flex-direction: column;
    }
    .image-with-text.classic .column-40 {
        max-width: 100%;
    }
    .image-with-text.classic .para{
        margin-bottom: 25px;
    }
    .product-text{
        font-size: 35px;
    }
    .image-with-text.classic .wrapper {
        margin: 40px auto !important;
    }
}