*, :after, :before, input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.product-detail .price{
    font-size: 16px;
    align-items: baseline;
    flex-wrap: wrap;
    color: rgb(var(--color-base-text));
}


.marg-bot-xl {
    margin-bottom: 100px!important;
}

.marg-bot {
    margin-bottom: 50px!important;
}

.wrapper {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center!important;
}

.space-around {
    justify-content: space-around;
}

.flex-center {
    align-self: center;
}

.col-md-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.classic-products .image-section img{
    height: auto;
    max-height: 200px;
    width: auto;
    margin: 0 auto;
    display: block;
    align-self: center;
}

.classic-products.products {
    background-color: rgb(var(--color-base-solid-button-labels));
}

.grid_heading_subtext{
    font-size: 20px;
}

.button.button-outline.btn-mobile{
    width: 130px;
}

@media (max-width: 1024px){
    .btn {
        letter-spacing: 0;
    }
}

@media (max-width: 767px){
    .no-mobile {
        display: none!important;
    }
    .col-md-4{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .product-price{
        display: none;
    }
    .product-detail .row{
        justify-content: center;
    }
    .classic-products.products{
        padding: 32px 0;
    }
    .product-detail .price{
        justify-content: center;
        gap: 2px;
        margin-left: 20px;
    }
}

@media (max-width: 420px){
    .col-md-4{
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media (min-width: 768px){

    .no-desktop {
        display: none!important;
    }
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.33333%;
    }
    .classic-products.products {
        width: 100%;
        margin: 0 auto;
        padding: 35px 0;
    }
    .classic-products.products .image-section {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .classic-products.products .image-section img {
        height: auto;
        max-height: 250px;
        width: auto;
        margin: 0 auto;
        display: block;
        align-self: center;
    }
    .classic-products.products .image-section img:hover{
        transition: transform 1s ease-out;
        transform: scale(1.08);
    }
    .classic-products.products p {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .classic-products.products .product-price {
        font-weight: 600;
    }
}

@media screen and (min-width: 591px){
    .wrapper {
        padding: 0 30px;
    }
}

@media (min-width: 576px){
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .wrapper {
        max-width: 720px;
    }
    
}

@media (min-width: 992px){
    .wrapper {
        max-width: 960px;

    }
}

@media (max-width: 1199px) and (min-width: 768px){
    .container, .wrapper {
        max-width: 100%;
    }
}

@media (min-width: 1200px){
    .wrapper {
        max-width: 1500px;
        width: 100%;
    }
}

