.product-recommendations {
  display: block;
  margin-bottom: 80px;
}

.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
}

.related-product-grid .media.media--transparent.media--adapt.media--hover-effect{
  padding-bottom: 100% !important;
}

.related-product-grid .col-md-4 {
  flex: 1 0 21%;
  margin: 5px;
}

.related-product-grid .media.media--transparent.media--adapt.media--hover-effect img{
  height: 100%;
  max-height: 250px;
  width: auto;
  margin: 0 auto;
  display: block;
  align-self: center;
}

.related-product-grid .card__badge{
  left: 0;
}

.related-product-grid .price{
  font-size: 16px;
}

.related-product-grid .badge{
  background-color: var(--solid-button-bg-color);
  border-color: var(--solid-button-bg-color);
}

.related-product-grid .card-wrapper:hover .card-information__text{
  text-decoration: none;
}

.related-product-grid .row{
  row-gap: 80px;
}

.related-product-grid .col-md-4 .card-wrapper{
  width: 100%;
}


@media (max-width: 786px){
  .related-product-grid .col-md-4 {
    flex: 33.33%;
    margin: 5px;
  }
  .related-product-grid .col-md-4 .card-wrapper{
    width: auto;
  }
  .related-product-grid .row {
    justify-content: center;
  }
  .related-product-grid .media.media--transparent.media--adapt.media--hover-effect img{
    width: 100%;
  }
  .related-product-grid .media.media--transparent.media--adapt.media--hover-effect{
    padding-bottom: 120% !important;
  }
}

@media (max-width: 420px){
  .related-product-grid .col-md-4 {
    flex: 100%;
  }
  .related-product-grid .media.media--transparent.media--adapt.media--hover-effect{
    padding-bottom: 150px !important;
  }
}