.hero-image-about {
    height: 28vw;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 200px;
    background-color: #a5dcde;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

.heading1 {
    color: #fff!important;
    font-size: 46px;
}

img{
    max-width: 100%;
    border: 0 none;
}


.classic-banner-image_1 {
    position: absolute;
    right: 8%;
    height: 20vw;
    bottom: -15%;
    width: auto;
}

.classic-banner-image_2 {
    position: absolute;
    left: -2%;
    height: 20vw;
    top: 3%;
    width: auto ;
}

.classic-banner-image_3 {
    position: absolute;
    left: 10%;
    height: 20vw;
    bottom: -15%;
    width: auto;
}

.classic-banner-image_4 {
    position: absolute;
    right: -2%;
    height: 20vw;
    top: 3%;
    width: auto;
}


@media (max-width: 1440px){
    .hero-image-about {
        height: 33vw;
    }
}

@media (max-width: 767px){
    .hero-image-about .hero-text {
        z-index: 10;
    }
    .hero-image-about .heading1 {
        font-size: 30px;
    }
}

@media (max-width: 600px){
    .hero-image-about {
        background-size: contain;
        background-position: bottom;
    }
}